<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                <i class="far fa-heart topic-index-icon-like"></i>
              <% end %>
            <% else %>
              <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                <i class="fas fa-heart topic-index-icon-unlike"></i>
              <% end %>
            <% end %>
            <%= topic.favorites.count %>
            
            <% if logged_in? %>
              <%= link_to new_comment_path(topic_id: topic.id) do %>
                <%= image_tag 'images/icons/comment.png', class: 'topic-index-icon' %>
              <% end %>
              <% if topic.user == current_user %>
                <%= link_to topic_path(topic), method: :delete do %>
                  <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size:20px;"></span>
                <% end %>
              <% end %>
            <% end %>
            <p class="topic-text">
              <%= topic.description %>
            </p>
            <hr>
            <h3>コメント</h3>
            <% topic.comments.each do |comment| %>
              <p><%= comment.content %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @topics %>
  </div>
</div>